.treeContainer {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow: auto;
    height: 200px;
    border: 1px solid #999;
    padding: 5px;
    margin-bottom: 20px;
    min-height: 20px;
}

.tree {
    background-color: #fff;
}

.tree ul {
    margin-right: 5px;
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
    position: relative;
}

.tree li::before,
.tree li::after {
    content: '';
    right: -20px;
    position: absolute;
    left: auto;
}

.tree li::before {
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.tree li::before:hover {
    border-right: 1px solid #999;
}

.tree li::after {
    height: 20px;
    top: 25px;
    width: 25px;
}

.tree li::after:hover {
    border-top: 1px solid #999;
}

.tree li span {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    white-space: pre;
    font-size: 12px;
}

.tree li.parent_li > span {
    cursor: pointer;
}

.tree li label {
    white-space: pre;
}

.tree > ul > li::before,
.tree > ul > li::after {
    border: 0;
}

.tree li:last-child::before {
    height: 30px;
}

.tree li.parent_li > span:hover,
.tree li.parent_li > span:hover + ul li span,
.tree li > span:hover {
    background: #eee;
    color: #000;
    cursor: pointer;
}

.tree .selectedItem {
    background: #7fff44 !important;
}

.tree .selectedItem:hover {
    background: #a3e873 !important;
}

.icon-minus-sign {
    background: url('images/collapse.png') no-repeat;
}

.icon-plus-sign {
    background: url('images/expand.png') no-repeat;
}

.icon-minus-sign,
.icon-plus-sign {
    width: 12px;
    height: 12px;
}

.icon-minus-sign,
.icon-plus-sign {
    position: absolute;
    left: -10px;
    top: 7px;
}

.btnContainer {
    position: relative;
    background: #fff;
}

.btnContainer .buttonTree {
    height: 36px;
    width: 220px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    text-align: right;
}

.btnContainer .buttonTree > i {
    float: left;
}

.btnContainer .dropdown {
    background: #fff;
    position: absolute;
    z-index: 999;
    top: 35px;
    width: 100%;
}

.dropdown .tree,
.dropdown .treeContainer {
    padding: 0;
}
